In [7]:
import pandas as pd
import numpy as np

In [17]:
data = np.arange(10)
data
population = {'California': 38332521,   #bibliotecas 
             'Texas': 123455,
             'New York': 3566774}

area = {'California': 3144,
             'Texas': 8133,
             'New York': 67584}

In [6]:
series = pd.Series(data) #Series panda, transformando bibliotecas a Series
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [7]:
#Obteniendo array de numpy
series.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
series.index #te da los indices que contiene la serie

RangeIndex(start=0, stop=10, step=1)

In [9]:
series[1:3]  #slicing

1    1
2    2
dtype: int32

In [10]:
data = pd.Series([1,2,3,4],index=['a','b','c','d']) #cambiando los indices
data

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
population = {'California': 38332521,
             'Texas': 123455,
             'New York': 3566774}
population = pd.Series(population)  #a√±adiendo biblioteca y haciendola series
population

California    38332521
Texas           123455
New York       3566774
dtype: int64

In [13]:
population['California']

38332521

In [14]:
population['California':'New York'] #slicing en series

California    38332521
Texas           123455
New York       3566774
dtype: int64

In [15]:
tuple = pd.Series((1,2,3,4,5)) #tuple?
tuple

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
data = pd.Series(population, index = ['California','Texas'])  #agarrando datos de una serie pero solo unos cuantos
data

California    38332521
Texas           123455
dtype: int64

In [21]:
dataframe = pd.DataFrame(population, index = ['population']) #Transformarlo a dataframe y ordenarlo por fila
dataframe

            California   Texas  New York
population    38332521  123455   3566774

In [31]:
dataframe = pd.DataFrame(pd.Series(population), columns = ['population'])
dataframe

            population
California    38332521
Texas           123455
New York       3566774

In [33]:
dataframe= pd.DataFrame({'population':population,'area':area})
dataframe

            population   area
California    38332521   3144
Texas           123455   8133
New York       3566774  67584

In [35]:
dataframe.index

Index(['California', 'Texas', 'New York'], dtype='object')

In [26]:
dataframe.columns

Index(['population', 'area'], dtype='object')

In [27]:
dataframe.area

California     3144
Texas          8133
New York      67584
Name: area, dtype: int64

In [28]:
#Esta es la mejor forma de hacerlo
dataframe['area']

California     3144
Texas          8133
New York      67584
Name: area, dtype: int64

In [36]:
a = [{'a': 1,'b':2 }, {'b':3, 'c': 4}]

pd.DataFrame(a)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [39]:
pd.DataFrame([[1,2],[3,4]],index=['Numero 1','Numero 2'],columns=['Population', 'Area'])

          Population  Area
Numero 1           1     2
Numero 2           3     4

In [2]:
ind = pd.Index([2,3,4,5])

In [3]:
ind[1]

3

In [4]:
ind[::2]

Int64Index([2, 4], dtype='int64')

In [5]:
print(ind.size,ind.shape,ind.dtype)

4 (4,) int64

In [6]:
data = pd.Series([1,2,3,4], index=['a','b','c','d'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
'a' in data

True

In [10]:
list(data.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [11]:
data.values

array([1, 2, 3, 4], dtype=int64)

In [13]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [3]:
data = pd.Series(np.random.randint(1,50,50))

In [4]:
data[(data>=13) & (data<=20)]

1     20
11    20
16    14
23    18
25    16
26    19
42    20
46    14
dtype: int32

In [7]:
#Fancy indexing
data[[36,38]]

36    38
38    29
dtype: int32